<section id="about" class="sec-two  mb-5 mt-5">
  <div class="container bg-body shadow">
    <div class="items p-5 row">
      <div class="item-one col-md-6 ">
        <div class="content d-flex flex-column flex-sm-row ">
          <div class="img-about col-sm-6 col-md-6 mb-4 me-sm-0 me-md-2 me-lg-0 ">
            <img src="../../../public/testimonial-2.jpg" alt="" class="rounded-2">
          </div>
          <div class="text col-sm-6 col-md-6 ">
            <p>Name: <span>Morgan Freeman</span></p>
            <p>Profile: <span>full stack developer</span></p>
            <p>Email: <span>contactexample.com</span></p>
            <p>Phone: <span>(617) 557-0089</span></p>
          </div>
        </div>
        <div class="skill mt-5 p-1">
          <p class="fs-4">Skill</p>
          <span>HTML 85%</span>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="85" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar" style="width: 85%"></div>
          </div>
          <span>CSS3 75%</span>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar" style="width: 75%"></div>
          </div>
          <span>PHP 50%</span>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar" style="width: 50%"></div>
          </div>
          <span>JAVASCRIPT 90%</span>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="90" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar" style="width: 90%"></div>
          </div>
        </div>
      </div>
      <div class="item-two col-md-6 mt-3 mt-md-3 mt-lg-0  ps-lg-5 ">
        <div class="titel">
          <h4 class="addres">About me</h4>
        </div>
        <div class="text mt-xl-2">
          <p class="lead">
            Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id
            imperdiet et, porttitor at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
            Nulla
            porttitor accumsan tincidunt.
          </p>
          <p class="lead">
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis porttitor
            volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
          </p>
          <p class="lead">
            Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla
            porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>