<nav class="navbar navbar-expand-lg navbar-dark bg-black bg-opacity-75  w-100 z-3">
  <div class="container">
    <a class="navbar-brand fs-3">DevFolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-underline ms-auto mb-2 mb-lg-0 text-capitalize">
        <li class="nav-item">
          <a class="nav-link text-white " routerLink="home" routerLinkActive="bg-info rounded-2" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " routerLink="about" routerLinkActive="bg-info rounded-2" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="contact" routerLinkActive="bg-info rounded-2">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>